<h1>{{ colleague.name }}'s snptzs</h1>
<div id="thisWeek">
    <div class="timeStamp">
        <em>This week</em> {{ colleague.this_weeks_tw.created|date:"M j" }} -
    </div>
    <div class="colleague-plans">
        <ul>
            {% for t in colleague.this_weeks_tw.optimistic_as_tuples %}
                <li>{{ t.0 }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for tw in colleague.all_other_past_taskweeks %}
    <div class="weekChunk clearfix">
        <div class="colleague-plans">
            <div class="timeStamp">
                Week of <em>{{ tw.created|date:"M j" }}</em>
            </div>
            <ul>
                {% for t in tw.optimistic_as_tuples %}
                    <li>{{ t.0 }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="colleague-plans">
            <div class="timeStamp">
                How'd it go?
            </div>
            <ul>
                {% for t in tw.realistic_as_tuples %}
                    <li>{{ t.0 }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
