<div id="header">
    <div id="nav">
	    <a href="/" id="logo">
            <img src="/static/logoMain.png" width="88" height="50" alt="SNPTZ">
        </a>
        <div id="presence">
            {% ifnotequal logoutURL None %}
                <a href="{{ logoutURL }}">Logout</a>
            {% endifnotequal %}
            <a href="/settings" id="settingsLink">Settings</a>
            <a href="/info" id="infoLink">Info</a>
            <span id="user">{{ profile.email }}</span>
        </div>
	</div>
</div>
