<div class="faq">
<h1>What is SNPTZ?</h1>
<p>
SNPTZ is an email-based productivity tool. SNPTZ is not a to-do list or ticket tracker or calendar.
We think its an easy way to set goals, reflect on accomplishments, keep yourself honest, and stay focused.

SNPTZ can also provide a painless way for colleagues to stay infomed about what everyone else is up to and how other projects are going.
We like to think of the team features like a weekly stand-up/scrum meeting that you can attend from wherever you can access your inbox.
</p>
</div>

<div class="faq">
<h1>How do I use SNPTZ?</h1>
<p>
1.  On Monday morning, you get an email from SNPTZ.
2.  You hit reply and do two things:
    - Review your goals from last week and edit them to reflect what you <em>actually</em>  worked on last week.
        Remember: its not a to-do list. Stuff Happens. Things change. Don't feel bad if you didn't work on what you said you would last week.
        This week is a new week.
    - List a few things you are planning on working on this week.
    - FYI - please don't get creative with your email reply's format -- our parsing is crap and your ASCII art might not come out right.
3.  If you are a member of any SNPTZ teams with your colleagues, you'll receive a digest  email Monday afternoon.
    The digest contains all of your colleages' lists of things they'll be working on this week.
4.  Visit <a href="http://snptz.com">snptz.com</a> to browse your esteemed colleagues and see what they actually worked on last week.
</p>
</div>

<div class="faq">
<h1>What if I mess up my email?</h1>
<p>
Don't panic.

You have options.
1.  Send another reply -- it will replace whatever your previous email contained.
2.  Log into <a href="http://snptz.com">snptz.com</a> -- you can click this week's task or older tasks to edit them.
</p>
</div>

<div class="faq">
<h1>Who makes SNPTZ? Why?</h1>
<p>
SNPTZ is made by Ted and Evan.
Ted used a similar (proprietary) thing at a large organization and found it valuable -- now he wants a similar tool to use at a smaller organization..
Evan's small, distributed team tries doing weekly stand-ups via email, but its clunky and noisy (lots of reply-alls).
</p>
</div>

<div class="faq">
<h1>I can haz mine SNPTZ?</h1>
<p>
Yes! SNPTZ is written in <a href="http://www.python.org/">Python</a>. The <a href="https://github.com/tedpower/snptz">SNPTZ source code</a> is free and open source (<a href="https://github.com/tedpower/snptz/raw/master/LICENSE">New BSD</a>).
Please fork on github so we can easily benefit from the fruits of your labor. SNPTZ is a side project, so contributions are very welcome!
Currently, the code only runs on <a href="http://code.google.com/appengine/">Google App Engine</a>. We'll port it to <a href="http://www.djangoproject.com/">Django</a> one of these weeks...
</p>
</div>
