<div id="infoPage">
<h1>Info</h1>
<p>SNPTZ is a weekly, email-based to-do list</p>
<p>Questions?  <a href="mailto:ted@snptz.com">ted@snptz.com</a></p>
<p>Made by Evan (<a href="http://twitter.com/#!/evmw">@evmw</a>) and Ted (<a href="http://twitter.com/#!/tedp">@tedp</a>), free and <a href="https://github.com/tedpower/snptz">open source</a></p>

<pre>
Bah-da bah-da-da-da
Bah-da bah-da-da-da
Bah-da bah-da-da-da

Monday, Monday, so good to me
Monday mornin', it was all I hoped it would be
Oh Monday mornin', Monday mornin' couldn't guarantee
That Monday evenin' you would still be here with me

Monday, Monday, can't trust that day
Monday, Monday, sometimes it just turns out that way
Oh Monday mornin' you gave me no warnin' of what was to be
Oh Monday, Monday, how could you leave and not take me

Every other day, every other day
Every other day of the week is fine, yeah
But whenever Monday comes, but whenever Monday comes
A-you can find me cryin' all of the time

Monday, Monday, so good to me
Monday mornin', it was all I hoped it would be
But Monday mornin', Monday mornin' couldn't guarantee
That Monday evenin' you would still be here with me

Every other day, every other day
Every other day of the week is fine, yeah (yeah)
But whenever Monday comes, but whenever Monday comes
A-you can find me cryin' all of the time

Monday, Monday, can't trust that day
Monday, Monday, it just turns out that way
Oh Monday, Monday, won't go away
Monday, Monday, it's here to stay
Oh Monday, Monday
Oh Monday, Monday
</pre>
</div>