<div id="taskWrapper">
    <div id="thisWeek">
        <div class="timeStamp">
            <em>This week</em>
            <!-- Shows the range of the current week, monday to sunday -->
            {% ifequal profile.this_weeks_tw.get_mon|date:"M" profile.this_weeks_tw.get_sun|date:"M" %}
                {{ profile.this_weeks_tw.get_mon|date:"M j" }}-{{ profile.this_weeks_tw.get_sun|date:"j" }}
            {% else %}
                <!-- If the monday falls in a different month than the sunday, this shows the months -->
                {{ profile.this_weeks_tw.get_mon|date:"M j" }} - 
                {{ profile.this_weeks_tw.get_sun|date:"M j" }}
            {% endifequal %}
        </div>
        <div class="plans">
            <ul>
                {% for t in profile.this_weeks_tw.optimistic %}
                    <li>{{ t|urlize }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="edit">
            <form id="{{ profile.this_weeks_tw.get_key }}" action="/taskweek/update" method="post">
                <textarea>{{ profile.this_weeks_tw.optimistic_as_str }}</textarea>
                <input type="submit" class="twedit" value="update"/>
            </form>
        </div>
    </div>
    {% ifnotequal profile.all_other_past_taskweeks None %}
    <div id="history">
        {% for tw in profile.all_other_past_taskweeks %}
            <div class="weekChunk clearfix">
                <div class="plans">
                    <div class="timeStamp">
                        Week of <em>{{ tw.get_mon|date:"M j" }}</em>
                    </div>
                    <ul>
                        {% for t in tw.optimistic %}
                            <li>{{ t|urlize }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="review">
                    <div class="timeStamp">
                        How'd it go?
                    </div>
                    <ul>
                        {% for t in tw.realistic %}
                            <li>{{ t|urlize }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endifnotequal %}
</div>
<div id="sidebar">

    Esteemed Colleagues

    {% if teams %}
        {% for team in teams %}
                <div class="team" id="team-{{ team.name }}">
                <h3>esteemed colleages from <a href="/team/show/{{ team.slug }}">{{ team.name }}</a></h3>
                <ul>
                {% for member in team.membership_set %}
                    {% ifnotequal member.profile.name profile.name %}
                        <li><a href="/colleague/{{ member.profile.get_nickname }}">{{ member.profile.name }}</a></li>
                    {% endifnotequal %}
                {% endfor %}
                </ul>
        {% endfor %}
        </div>
    {% endif %}
</div>
