<div id="thisWeek">
    <div class="timeStamp">
        <em>This week</em>
        <!-- Shows the range of the current week, monday to sunday -->
        {% ifequal profile.this_weeks_taskweek.get_monday|date:"M" profile.this_weeks_taskweek.get_sunday|date:"M" %}
            {{ profile.this_weeks_taskweek.get_monday|date:"M j" }}-{{ profile.this_weeks_taskweek.get_sunday|date:"j" }}
        {% else %}
            {{ profile.this_weeks_taskweek.get_monday|date:"M j" }} - 
            {{ profile.this_weeks_taskweek.get_sunday|date:"M j" }}
        {% endifequal %}
    </div>
    <div class="plans">
        <ul>
            {% for t in profile.this_weeks_taskweek.optimistic %}
                <li>{{ t|urlize }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="history">
    {% for tw in profile.all_other_past_taskweeks %}
        <div class="weekChunk clearfix">
            <div class="plans">
                <div class="timeStamp">
                    Week of <em>{{ tw.created|date:"M j" }}</em>
                </div>
                <ul>
                    {% for t in tw.optimistic %}
                        <li>{{ t|urlize }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="review">
                <div class="timeStamp">
                    How'd it go?
                </div>
                <ul>
                    {% for t in tw.realistic %}
                        <li>{{ t|urlize }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
