<div id="taskWrapper">
    <div id="thisWeek">
        <div class="timeStamp">
            <em>This week</em>
            <!-- Shows the range of the current week, monday to sunday -->
            {% ifequal profile.this_weeks_tw.get_mon|date:"M" profile.this_weeks_tw.get_sun|date:"M" %}
                {{ profile.this_weeks_tw.get_mon|date:"M j" }}-{{ profile.this_weeks_tw.get_sun|date:"j" }}
            {% else %}
                <!-- If the monday falls in a different month than the sunday, this shows the months -->
                {{ profile.this_weeks_tw.get_mon|date:"M j" }} - 
                {{ profile.this_weeks_tw.get_sun|date:"M j" }}
            {% endifequal %}
        </div>
        <div class="planWrap">
            <div class="plans">
                {% if profile.this_weeks_tw.optimistic_as_tuples|length_is:"0" %}
                    <div class="emptyWeek">This week I'm gonna...</div>
                {% else %}
                <ul>
                    {% for tuple in profile.this_weeks_tw.optimistic_as_tuples %}
                        <li><span class="task-text">{{ tuple.0 }}</span>
                            {% if tuple.1 %}
                            <span class="tags" style="color: red; font-size: 50%;">
                                {% for tag in tuple.1 %}
                                    <span class="tag">
                                    <a class="tag-link" href="/tag/{{ tag }}">{{ tag }}</a>
                                    </span>
                                {% endfor %}
                            {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="edit" style="display:none;">
                <form id="{{ profile.this_weeks_tw.get_key }}" action="/taskweek/update/optimistic" method="post">
                    {% for tuple in profile.this_weeks_tw.optimistic_as_tuples %}
                        <input type="text" id="task-{{ forloop.counter }}"value="{{ tuple.0 }}"/>
                            {% if tuple.1 %}
                                {% for tag in tuple.1 %}
                                    <input type="text" id="task-{{ forloop.parentloop.counter }}-tag-{{ forloop.counter }}" value="{{ tag }}"/>
                                {% endfor %}
                            {% endif %}
                        <br/>
                    {% endfor %}
                    <input type="submit" class="submit_optimistic" value="Update"/>
                    <input type="submit" class="cancel" value="Cancel"/>
                </form>
            </div>
        </div>
    </div>
    {% ifnotequal profile.all_other_past_taskweeks None %}
        {% for tw in profile.all_other_past_taskweeks %}
            <div class="weekChunk clearfix">
                <div class="optimistic">
                    <div class="timeStamp">
                        Week of <em>{{ tw.get_mon|date:"M j" }}</em>
                    </div>
                    <div class="planWrap">
                        <div class="plans">
                            <ul>
                                {% for tuple in tw.optimistic_as_tuples %}
                                    <li>{{ tuple.0 }}
                                        {% if tuple.1 %}
                                        <span class="tags" style="color: red; font-size: 50%;">
                                            {% for tag in tuple.1 %}
                                                <span class="tag">
                                                {{ tag }}
                                                </span>
                                            {% endfor %}
                                        {% endif %}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="edit" style="display:none;">
                            <form id="{{ tw.get_key }}" action="/taskweek/update/optimistic" method="post">
                                {% for tuple in tw.optimistic_as_tuples %}
                                    <input type="text" id="task-{{ forloop.counter }}"value="{{ tuple.0 }}"/>
                                        {% if tuple.1 %}
                                            {% for tag in tuple.1 %}
                                                <input type="text" id="task-{{ forloop.parentloop.counter }}-tag-{{ forloop.counter }}" value="{{ tag }}"/>
                                            {% endfor %}
                                        {% endif %}
                                    <br/>
                                {% endfor %}
                                <input type="submit" class="submit_optimistic" value="Update"/>
                                <input type="submit" class="cancel" value="Cancel"/>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <div class="realistic">
                    <div class="timeStamp">
                        How'd it go?
                    </div>
                    <div class="planWrap">
                        <div class="plans">
                            {% if forloop.first and tw.realistic_as_tuples|length_is:"0" %}
                                    <div class="emptyWeek">Last week I...</div>
                            {% else %}
                            <ul>
                                {% for tuple in tw.realistic_as_tuples %}
                                    <li>{{ tuple.0 }}
                                        {% if tuple.1 %}
                                        <span class="tags" style="color: red; font-size: 50%;">
                                            {% for tag in tuple.1 %}
                                                <span class="tag">
                                                {{ tag }}
                                                </span>
                                            {% endfor %}
                                        {% endif %}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="edit" style="display:none;">
                            <form id="{{ tw.get_key }}" action="/taskweek/update/realistic" method="post">
                                {% for tuple in tw.realistic_as_tuples %}
                                    <input type="text" id="task-{{ forloop.counter }}"value="{{ tuple.0 }}"/>
                                        {% if tuple.1 %}
                                            {% for tag in tuple.1 %}
                                                <input type="text" id="task-{{ forloop.parentloop.counter }}-tag-{{ forloop.counter }}" value="{{ tag }}"/>
                                            {% endfor %}
                                        {% endif %}
                                    <br/>
                                {% endfor %}
                                <input type="submit" class="submit_realistic" value="Update"/>
                                <input type="submit" class="cancel" value="Cancel"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endifnotequal %}
</div>
