<form action="/settings" method="post">
    <h1>Settings</h1>

    <div>Email</div>
    <div>{{ profile.email }}</div>
    <div>First name</div>
    <div><input type="text" name="firstname" id="firstname"
        {% ifnotequal profile.first_name None %}
            value="{{ profile.first_name }}"
        {% endifnotequal %}/></div>
    <div>Last name</div>
    <div><input type="text" name="lastname" id="lastname"
        {% ifnotequal profile.last_name None %}
            value="{{ profile.last_name }}"
        {% endifnotequal %}/></div>
    <div>
        <input type="checkbox" name="weeklyEmailsToggle" id="weeklyEmailsToggle"
        {% if profile.weekly_email %}
            checked="yes"
        {% endif %} />
        <label for="weeklyEmailsToggle">Subscribe to weekly reminder emails</label>
    </div>
    <div>
        <select name='timezone' id="timezone">
            <option {% ifequal profile.timezone "est"%} selected {% endifequal %} value="est">(GMT-5:00) Eastern Time</option>
            <option {% ifequal profile.timezone "cst"%} selected {% endifequal %} value="cst">(GMT-6:00) Central Time</option>
            <option {% ifequal profile.timezone "mst"%} selected {% endifequal %} value="mst">(GMT-7:00) Mountain Time</option>
            <option {% ifequal profile.timezone "pst"%} selected {% endifequal %} value="pst">(GMT-8:00) Pacific Time</option>
        </select>
    </div>
    <div><input type="submit" id="settingsSubmit" value="Update settings"></div>
</form>
<h1>Esteemed colleagues</h1>
<form id="teams" action="/team/" method="post">
    <div>My teams</div>
    {% for team in memberships_teams %}
        <div>
            <label for="{{team.slug}}">Uncheck to leave {{team.name}}</label>
            <input type="checkbox" name="{{team.slug}}" checked="yes"/>
        </div>
    {% endfor %}
</form>

<a href="#">Delete account (this cannot be undone)</a>
