<div id="sidebar">

        {% for invite in profile.pending_invitation_set %}
           <div id="{{ invite.get_key }}">
	        <div class="sidebarChunk">
				<em>Pending!</em>
	            <p>{{ invite.inviter.first_name }} has invited you to join the {{ invite.team.name }} team.</p>
	            <a class="acceptInviteLink" href="/team/join">Accept</a> / <a class="declineInviteLink" href="/team/decline">Decline</a>
            </div>
        </div>
        {% endfor %}

    {% if teams %}
		<div class="sidebarChunk">
	        <em>Teams</em>
			<ul>
	        {% for team in teams %}
	            <li id="team-{{ team.name }}"><a href="/team/show/{{ team.slug }}">{{ team.name }}</a></li>
	        {% endfor %}
			</ul>
		</div>
    {% endif %}

	{% if profile.esteemed_colleagues %}
		<div class="sidebarChunk">	
			<em>Esteemed Colleagues</em>
			<ul>
		    {% for profile in profile.esteemed_colleagues %}
		         <li><a href="/colleague/{{ profile.get_nickname }}">{{ profile.name }}</a></li>
		    {% endfor %}
			</ul>
		</div>
	{% endif %}
	
    <a href="/teamform" id="teamformLink">Create New Team</a>
</div>
