<div id="sidebar">

        {% for invite in profile.pending_invitation_set %}
           <div id="{{ invite.get_key }}">
	        <div class="sidebarChunk">
				<em>Pending!</em>
	            <p>{{ invite.inviter.first_name }} has invited you to join the {{ invite.team.name }} team.</p>
	            <a class="acceptInviteLink" href="/team/join">Accept</a> / <a class="declineInviteLink" href="/team/decline">Decline</a>
            </div>
        </div>
        {% endfor %}

    {% if profile.profile_followings %}
		<div class="sidebarChunk">
	        <em>Esteemed colleagues</em>
			<ul>
	        {% for pfollow in profile.profile_followings %}
		         <li><a href="/colleague/{{ pfollow.followee.get_nickname }}">{{ pfollow.followee.name }}</a></li>
	        {% endfor %}
			</ul>
		</div>
    {% endif %}

    {% if profile.tag_followings %}
		<div class="sidebarChunk">
	        <em>Tags you follow</em>
			<ul>
	        {% for tfollow in profile.tag_followings %}
		         <li><a href="/tag/{{ tfollow.followee }}">{{ tfollow.followee }}</a></li>
	        {% endfor %}
			</ul>
		</div>
    {% endif %}
	
</div>
