<div class="planWrap">
    <div class="plans">
        <ul>
            {% for tuple in taskweek.realistic_as_tuples %}
                <li>{{ tuple.0 }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="edit" style="display:none;">
        <form id="{{ taskweek.get_key }}" action="/taskweek/update/realistic" method="post">
            <textarea rows="{{ taskweek.realistic|length }}">{{ taskweek.realistic_as_str }}</textarea>
            <input type="submit" class="submit_realistic" value="Update"/>
            <input type="submit" class="cancel" value="Cancel"/>
        </form>
    </div>
</div>
