<div class="planWrap">
    <div class="plans">
        <ul>
            {% for t in taskweek.optimistic %}
                <li>{{ t|urlize }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="edit" style="display:none;">
        <form id="{{ taskweek.get_key }}" action="/taskweek/update/optimistic" method="post">
            <textarea>{{ taskweek.optimistic_as_str }}</textarea>
            <input type="submit" class="submit_optimistic" value="update"/>
            <input type="submit" class="cancel" value="cancel"/>
        </form>
    </div>
</div>