<div class="planWrap">
    <div class="plans">
        <ul>
            {% for t in taskweek.realistic %}
                <li>{{ t|urlize }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="edit" style="display:none;">
        <form id="{{ taskweek.get_key }}" action="/taskweek/update/realistic" method="post">
            <textarea rows="{{ taskweek.realistic|length }}">{{ taskweek.realistic_as_str }}</textarea>
            <input type="submit" class="submit_realistic" value="Update"/>
            <input type="submit" class="cancel" value="Cancel"/>
        </form>
    </div>
</div>
