{% if team %}
    <h1>{{ team.name }}</h1>
        <em>Keeping esteemed colleagues in the loop since {{ team.created|date:"M j" }}</em>
    {% for member in team.membership_set %}
        {% ifnotequal member.profile.name profile.name %}
            <div>
                <a href="/colleague/{{ member.profile.get_nickname}}">{{ member.profile.name }}</a>
                <ul>
                    {% for t in member.profile.this_weeks_tw.optimistic %}
                        <li>{{ t }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endifnotequal %}
    {% endfor %}
    <h1>Invite colleagues to join team {{ team.name }}</h1>

    <form id="editteam" action="/team/new" method="post">
        <div class="settingsChunk">
            <div><input type="hidden" id="teamname" name="teamname" value="{{ team.name }}"/></div>
            </div>
            <div class="settingsChunk">
            <div><label for="new-colleagues">Invite your esteemed colleagues to team {{ team.name }}</label></div>
            <div><input type="text" id="new-colleagues" placeholder="Comma-separated email addresses" /></div>
        </div>
        <div class="settingsChunk"><input type="submit" id="editteamSubmit" value="Invite more colleagues"></div>
    </form>
{% endif %}
