<h1>Create a new team</h1>

<form id="newteam" action="/team/new" method="post">
    <div class="settingsChunk">
        <div><label for="newteamname">Team name</label></div>
        <div><input type="text" id="newteamname" name="newteamname" value=""/></div>
	</div>
	<div class="settingsChunk">
        <div><label for="colleagues">Invite your esteemed colleagues by Email</label></div>
        <div><input type="text" id="colleagues" placeholder="Comma-separated email addresses" /></div>
    </div>
    <div class="settingsChunk"><input type="submit" id="newteamSubmit" value="Create new team"></div>
</form>
