/* Constants
--------------------------------------------- */

@contentWidth: 920px;
@sidebarWidth: 180px;
@paddingWidth: 20px;

/* reset styles
--------------------------------------------- */

html { 
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

a img { border: none; }

:focus { outline: 0; }

/* master styles
--------------------------------------------- */

body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
}

body a {
    text-decoration: none;
}

em {
    font-weight: bold;
    font-style: normal;
}

/* Logged out homepage
--------------------------------------------- */

#loggedOut #logoBig {
    padding: 80px 0;
}

#loggedOut p {
    font-size: 24px;
}

/* Header (logged in)
--------------------------------------------- */

#header {
    height: 51px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000 url(navbar.png) repeat-x;
    z-index: 4;
}

#nav {
    width: @contentWidth;
    text-align: left;
    margin: 0 auto;
}

#logo {
    margin: 0 0 0 @paddingWidth;
    float: left;
    height: 50px;
}

#presence {
    float: right;
    text-shadow: 0 -1px 0 #000;
    line-height: 51px;
}

#user {
    color: #919191;
}

#presence a {
    color: #CCC;
}

#presence #user, #presence a {
    padding: 0 12px;
    border-right: 1px solid rgba(0, 0, 0, .7);
    box-shadow: 1px 0 rgba(255, 255, 255, .1);
    -webkit-box-shadow: 1px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: 1px 0 rgba(255, 255, 255, .1);
    float: right;
}

#presence a:hover {
    color: #FFF;
}

#presence a:active {
    background-color: black;
    background-image: none;
}

#notifications {
    z-index: 3;
    color: black;
    width: @contentWidth;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: @contentWidth * -1 / 2;
    font-weight:bold;
    background-color: #FFFD64;
    -webkit-transition: top .3s ease-in;
}

.notificationShow {
    top: 50px !important;
}

#bg {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F2F2F2 url(dots.png) repeat;
    z-index: 0;
}

/* main content styles
--------------------------------------------- */

#main {
    background-color: white;
    z-index: 2;
    position: relative;
    width: @contentWidth;
    margin: 51px auto;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.16);
}

#taskWrapper {
    -webkit-box-shadow: -1px 0 0 rgba(0,0,0,.1);
    width: @contentWidth - @sidebarWidth - (2 * @paddingWidth);
}

#sidebar {
    width: @sidebarWidth;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5F5;
    padding: @paddingWidth;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(0,0,0,.1);
}

#thisWeek {
    padding: @paddingWidth;
    border-bottom: 1px solid #D9D9D9;
}

.weekChunk .optimistic, .weekChunk .realistic {
    padding: @paddingWidth;
    width: ((@contentWidth - @sidebarWidth - (2 * @paddingWidth)) / 2) - (2 * @paddingWidth);
    float: left;
}

.weekChunk {
    border-bottom: 1px solid #D9D9D9;
}

#taskWrapper > div:last-child {
    border-bottom: none;
}

#thisWeek ul, .weekChunk ul {
    padding-left: 1em;
}

#thisWeek .plans{
    font-size: 24px;
	cursor: text;
}

.weekChunk ul {
    font-size: 14px;
}

.timeStamp {
    text-transform: uppercase;
    padding: 0 0 12px 0;
}

.plans a:hover {
    text-decoration: underline;
}

.weekChunk textarea, #thisWeek textarea {
    margin: 0;
    padding: 6px 8px;
    font-size: 14px;
    resize: none;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

#thisWeek textarea {
    width: 642px;
}

.weekChunk textarea {
    width: 292px;
}

.emptyWeek {
    padding: 6px 8px;
    border: 1px solid gray;
    color: gray;
    cursor: text;
}

/* Signup styles
--------------------------------------------- */

#signup {
	text-align: left;
	padding: 50px;
}

.settingsChunk {
	padding-top: 12px;
}

.settingsChunk input[type="text"] {
	width: 300px;
	padding: 4px;
	border: 1px solid;
	border-color: #666 #CCC #CCC #CCC;
}

#signup h1 {
	padding-top: 24px;
}

/* Settings & Info styles
--------------------------------------------- */

.subPage {
    background-color: white;
    z-index: 2;
    position: relative;
    width: @contentWidth - (2 * @paddingWidth);
    margin: 51px auto;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.16);
    padding: @paddingWidth;
}

.subPage p, .subPage pre {
	font-size: 14px;
	padding-top: 14px;
}

/* Misc
--------------------------------------------- */

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
