html {
  margin: 0;
  padding: 0;
  border: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
a img { border: none; }
:focus { outline: 0; }
body {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
}
body a { text-decoration: none; }
em {
  font-weight: bold;
  font-style: normal;
}
#loggedOut #logoBig { padding: 80px 0; }
#loggedOut p { font-size: 24px; }
#header {
  height: 51px;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000000 url(navbar.png) repeat-x;
  z-index: 4;
}
#nav {
  width: 920px;
  text-align: left;
  margin: 0 auto;
}
#logo { margin: 0 0 0 20px; }
#presence {
  float: right;
  text-shadow: 0 -1px 0 #000000;
  line-height: 51px;
}
#user { color: #919191; }
#presence a { color: #cccccc; }
#presence #user {
  padding: 0 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  float: right;
}
#presence a {
  padding: 0 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 0 rgba(255, 255, 255, 0.1);
  float: right;
}
#presence a:hover { color: #ffffff; }
#presence a:active {
  background-color: black;
  background-image: none;
}
#notifications {
  z-index: 3;
  color: black;
  width: 920px;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -460px;
  font-weight: bold;
  background-color: #fffd64;
  -webkit-transition: top 0.3s ease-in;
}
.notificationShow { top: 50px !important; }
#bg {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2 url(dots.png) repeat;
  z-index: 0;
}
#main {
  background-color: white;
  z-index: 2;
  position: relative;
  width: 920px;
  margin: 51px auto;
  text-align: left;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}
#taskWrapper {
  -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 700px;
}
#sidebar {
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  padding: 20px;
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.1);
}
#thisWeek {
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.weekChunk .plans {
  padding: 20px;
  width: 310px;
  float: left;
}
.weekChunk { border-bottom: 1px solid #d9d9d9; }
#taskWrapper > div:last-child { border-bottom: none; }
#thisWeek ul { list-style-position: inside; }
.weekChunk ul { list-style-position: inside; }
#thisWeek .plans { font-size: 24px; }
.weekChunk ul { font-size: 14px; }
.timeStamp {
  text-transform: uppercase;
  padding: 0 0 12px 0;
}
.plans a:hover { text-decoration: underline; }
.subPage {
  background-color: white;
  z-index: 2;
  position: relative;
  width: 880px;
  margin: 51px auto;
  text-align: left;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
