{% extends "_base.html" %}
{% block bodycontent %}
{% include "partials/header.html" %}

<!-- Empty div for the background -->
<div id="bg"></div>

<!-- Empty div for notifications -->
<div id="notifications"></div>

<div id="main" {% ifnotequal current_page "main" %} style="display:none;" {% endifnotequal %} class="clearfix">
    {% include "partials/profile.html" %}
    {% include "partials/sidebar.html" %}
</div>

<div id="info" class="subPage" {% ifnotequal current_page "info" %} style="display:none;" {% endifnotequal %}>
    {% include "partials/info.html" %}
</div>

<!-- This maybe should be pulled from an ajax get? -->
<div id="team" class="subPage" {% ifnotequal current_page "team" %} style="display:none;" {% endifnotequal %}>
    {% include "partials/team.html" %}
</div>

<div id="colleague" class="subPage" {% ifnotequal current_page "colleague" %} style="display:none;" {% endifnotequal %}>
    {% include "partials/colleague.html" %}
</div>

<div id="settings" class="subPage" {% ifnotequal current_page "settings" %} style="display:none;" {% endifnotequal %}>
    {% include "partials/settings.html" %}
</div>

<div id="teamform" class="subPage" {% ifnotequal current_page "teamform" %} style="display:none;" {% endifnotequal %}>
    {% include "partials/teamform.html" %}
</div>
{% endblock %}
