{% extends "_base.html" %}
{% block bodycontent %}
<div id="loggedIn">
    
    <div id="header">
        <div id="nav">
            <div id="presence">
                {% ifnotequal logoutURL None %}
                    <a href="{{ logoutURL }}">Logout</a>
                {% endifnotequal %}
                <a href="/settings" id="settingsLink">Settings</a>
                <a href="/info" id="infoLink">Info</a>
                <splan id="user">{{ userNickname }}</splan>
            </div>
            <a href="/main" id="logo">
                <img src="./static/logoMain.png" width="88" height="50" alt="SNPTZ">
            </a>
        </div>
    </div>
    
    <!-- Empty div for the background -->
    <div id="bg"></div>

    <div id="main" {% ifnotequal current_page "main" %} style="display:none;" {% endifnotequal %}>
        
        <div id="thisWeek">
            <div class="timeStamp">
                <em>This week</em> {{ this_week.created|date:"M j" }} -
            </div>
            <div class="plans">
                <ul>
                    {% for t in this_week.optimistic %}
                        <li>{{ t }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div id="history">
            
            <div class="weekChunk clearfix">
                <div class="plans">
                    <div class="timeStamp">
                        Week of <em>{{ last_past.created|date:"M j" }}</em>
                    </div>
                    <ul>
                        {% for t in last_past.optimistic %}
                            <li>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="review">
                    <div class="timeStamp">
                        How'd it go?
                    </div>
                    <ul>
                        {% for t in last_past.realistic %}
                            <li>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        
            {% for tw in all_other_past %}
                <div class="weekChunk clearfix">
                    <div class="plans">
                        <div class="timeStamp">
                            Week of <em>{{ tw.created|date:"M j" }}</em>
                        </div>
                        <ul>
                            {% for t in tw.optimistic %}
                                <li>{{ t }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="review">
                        <div class="timeStamp">
                            How'd it go?
                        </div>
                        <ul>
                            {% for t in tw.realistic %}
                                <li>{{ t }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
    
    <div id="info" {% ifnotequal current_page "info" %} style="display:none;" {% endifnotequal %}>
        <h1>Info</h1>
        Built by Ted and Evan
    </div>
    
    <div id="settings" {% ifnotequal current_page "settings" %} style="display:none;" {% endifnotequal %}>
            <h1>Settings</h1>
            <form action="/settings" method="post">

                <div>Email</div>
                <div>{{ email }}</div>
                <div>First name</div>
                <div><input type="text" name="firstname" 
                    {% ifnotequal firstName None %}
                        value="{{ firstName }}"
                    {% endifnotequal %}/></div>
                <div>Last name</div>
                <div><input type="text" name="lastname" 
                    {% ifnotequal lastName None %}
                        value="{{ lastName }}"
                    {% endifnotequal %}/></div>
                <div>
                    <input type="checkbox" name="weeklyEmailsToggle" id="weeklyEmailsToggle"
                    {% if weeklyEmail %}
                        checked="yes"
                    {% endif %} />
                    <label for="weeklyEmailsToggle">Subscribe to weekly reminder emails</label>
                </div>
                <div>
                    <select name='timezone'>
                      <option value="est">(GMT-5:00) Eastern Time</option>
                      <option value="cst">(GMT-6:00) Central Time</option>
                      <option value="mst">(GMT-7:00) Mountain Time</option>
                      <option value="pst">(GMT-8:00) Pacific Time</option>
                    </select>
                </div>
                <div><input type="submit" value="Save Settings"></div>
            </form>
            <a href="#">Delete account (this cannot be undone)</a>
    </div>
    
</div>
{% endblock %}
