{% extends "_base.html" %}
{% block bodycontent %}
<div id="loggedIn">
    
    <div id="header">
        <div id="nav">
            <div id="presence">
                {% ifnotequal logoutURL None %}
                    <a href="{{ logoutURL }}">Logout</a>
                {% endifnotequal %}
                <a href="/settings">Settings</a>
                <a href="#">Info</a>
                <splan id="user">{{ email }}</splan>
            </div>
            <a href="/main" id="logo">
                <img src="./static/logoMain.png" width="88" height="50" alt="SNPTZ">
            </a>
        </div>
    </div>
    
    <!-- Empty div for the background -->
    <div id="bg"></div>

    <div id="content">
        <div id="secondaryPage">
            <h1>Esteemed colleagues</h1>
            <form action="/teams" method="post">

                <div>My teams</div>
                {% for team in memberships_teams %}
                    <div>
                        <label for="team-{{team.key}}">{{team.name}}</label>
                        <input type="checkbox" name="team-{{team.key}}" checked="yes"/>
                    </div>
                {% endfor %}

                <div>Other teams</div>
                {% for team in other_teams %}
                    <div>
                        <label for="team-{{team.key}}">{{team.name}}</label>
                        <input type="checkbox" name="team-{{team.key}}"/>
                    </div>
                {% endfor %}
                <div>
                    <label for="newteamname">Create new team</label>
                    <input type="text" name="newteamname" value=""/>
                </div>
                <div><input type="submit" value="Update memberships"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
